@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800&display=swap');


/* ------------ Global targets -------------- */
* {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1p', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: content-box; 
    text-rendering: optimizeLegibility;
}

body {
  background-color: #F1EEEB;
}

a {
  text-decoration: none;
  color: black;
}

  ul {
    list-style-type: none;
  }

  .logo {
    height: 100px;
    width: 130px;
    color: #f1eeeb00;
  }

  .logo a {
    display: none;
    background-color: #f1eeeb00;
  }

  /* -------- INSTAGRAM EMBED save for later ------- */

/* .elfsight-app-55ce35a0-0d2a-41cf-a6be-b1ff2d427fcf {
  display: none;

}

@media (min-width: 668px) {

  .elfsight-app-55ce35a0-0d2a-41cf-a6be-b1ff2d427fcf {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    width: 100vw;
  }
} */

/* ------------ Navbar ------------- */
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-parent {
    padding: 1rem;
    display: flex;
    gap: 1rem;
  }

  .flex-child {
    display: inline-flex;
    align-items: center;
    padding: 6px 3px;
    margin-right: 4px;
  }

  /* ----------- home-page ------------ */
  
  .home-container {
    display: flex;
    justify-content: center;
  }
  
  .hello {
    font-size: 35px;
    font-weight: 300;
    font-style: italic;
    margin-top: 270px;
  }
  
  .product {
    color: black;
    font-size: 25px;
  }

  /* ------------RENTAL page -------------*/

  .product-container {
    margin: auto;
  }

  .product-span {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    height: 220px;
  }

  .title-span {
    display:block;
    position:relative;
    display: flex; 
    justify-content: center;
    justify-items: end;
    padding: 4px;
    /* background-color: white; */
  }

  .product-image {
      object-fit: cover;
      width: 150px;
      height: 150px;
      background-color: white;
  }


  .product-title {
    font-size: 20px;
    text-align: center;
    margin: 5px;
    background-color: white;

  } 

  .qty-button {
    width: 50px;
    margin: 5px;
  }

/* BOOKING FORM STYLING */

.get-in-touch-1 {
  font-size: 25px;
  margin: 0;
  padding: 4em 0 .5em 0;
}
.get-in-touch-2 {
  padding-bottom: 3em;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}

.custom-field {
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-transform: uppercase;
  font-weight: 300;

}

.custom-field input {
  border: none;
  background: white;
  padding: 10px;
  border-radius: 3px;
  width: 15rem;
  font-size: 14px;
  margin: 15px 15px 15px 0;
}

textarea {
  border: none;
  background: white;
  padding: 10px;
  border-radius: 3px;
  width: 15rem;
  font-size: 14px;
  resize: none;
  margin: 15px 15px 15px 0;
}

@media (min-width: 768px) {

  textarea {
    width: 20rem;
  }
  .custom-field input {
    width: 20rem;

  }
  
}


.swal-button {
  width: 8rem;
  margin: 15px 0 65px 0;
  cursor: pointer;
  border: none;
  font-size: 16px;

  padding: 0.8rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  font-weight: 450;
}

.swal-button:hover {
  background-color: black;
  transition: 0.7s;
}

.swal-title {
  margin: 0px;
  font-size: 16px;
  margin-bottom: 28px;
  background-color: white;
}

.swal-text {
  background-color: white;
  padding: 17px;
  display: block;
  margin: 22px;
  text-align: center;
  color: black;
}
